@import 'bootstrap/dist/css/bootstrap';

.navbar{
    background-color: #000000 !important;
}
.nav-link {
    color: white !important;
}
#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#home-container{
    margin-top: 25px;
}
.text-center{
    text-align: center;
}
.jumbotron{
    background-image: asset_url('bg_jumbotron.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}
html, body{
    height: 100%;
    margin-left: -33px;
    margin-right: -33px;
    margin-top: -33px;
    overflow: hidden;
}
#page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
}
#sticky-footer{
    flex-shrink: none;
}